html, body, * {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    position: absolute;
}
#header {
	padding: 10px 0px 0px;
	color: white;
	background-color: #13b2d8;
    height: 60px;
}
.column {
    position: absolute;
    top: 120px;
    bottom: 90px;
    padding: 10px;
    overflow-y: auto;
}    
.left {
    height: calc(99% - 120px);
    top: 70px;
    left: 0;
    width: 33%;
}
.center {
    height: calc(99% - 120px);
    top: 70px;
    left: calc(33% + 20px) ; /* = width + 2 * padding of left column */
    right: calc(33% + 20px); /* = width + 2 * padding of right column */
}
.right {
    height: calc(99% - 120px);
    top: 70px;
    right: 0;
    width: 33%;
}
#footer {
	color: white;
	background-color: #13b2d8;
	
	padding: 5px 0px 0px 35%;
	
    height: 40px;
    width: 100%;
    
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 730px) {
	.left{
		display: none;
	}
	
	.center{
	width: 43%;
	left: 5%;
	}
	
	.right{
	width: 43%;
	right: 5%;
	}
	
	
}
